.navbar-nav .nav-link.active {
    border-bottom: 2px solid #720846;
}

.search-bar {
    width: 588px;
    height: 48px;
    border-radius: 30px;
    background: rgba(98, 24, 67, 0.40);
    display: flex;
    align-items: center;
    border-radius: 60px;
    backdrop-filter: blur(4px) saturate(180%);
    /* padding: 10px 20px; */
}

.search-bar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
}

.search-bar button{
    width: 60px;
    height: 48px;
    border-radius: 30px;
    background: rgba(98, 24, 67, 0.74);
    cursor: pointer;
}

.jumbotron{
    padding-top: 100px;
    padding-bottom: 30px;
    ;
}

.card {
    flex-shrink: 0;
    border-radius: 20px;
    /* margin-bottom: 8rem;
    margin-right: 8rem; */
}

footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 35px;
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    font-size: 13px;
    line-height: 20px;
    font-family: 'poppins', sans-serif;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #000000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    font-size: 25px;
}

.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.col h3{
    width: fit-content;
    margin-bottom: 25px;
    position: relative;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px auto ;
}
