.navbar-nav .nav-link.active {
    border-bottom: 2px solid #720846;
    font-weight: bold;
}

.search-bar {
    width: 588px;
    height: 48px;
    border-radius: 30px;
    background: rgba(98, 24, 67, 0.40);
    display: flex;
    align-items: center;
    border-radius: 60px;
    backdrop-filter: blur(4px) saturate(180%);
    /* padding: 10px 20px; */
}

.search-bar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
}

.search-bar button{
    width: 60px;
    height: 48px;
    border-radius: 30px;
    background: rgba(98, 24, 67, 0.74);
    cursor: pointer;
}

.jumbotron{
    padding-top: 110px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.fixed-button {
    position: fixed; 
    bottom: 38px; 
    right: 0px; 
    background-color: #720846; 
    color: white;
    padding: 5px 20px; 
    border: none; 
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.1);
}
footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 35px;
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    font-size: 13px;
    line-height: 20px;
    font-family: 'poppins', sans-serif;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #000000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    font-size: 25px;
}

.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.col h3{
    width: fit-content;
    margin-bottom: 25px;
    position: relative;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px auto ;
}

.empatalk-post {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 150px;
    margin-bottom: 20px;
}
.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
}
.user-info {
    align-items: center;
    flex: 1;
}
.user-name {
    font-weight: bold;
    color: #720846;
}
.post-content {
    margin-bottom: 10px;
    background: #720846;
    border-radius: 10px;
    padding: 20px 7px 20px 7px;
    color: #fff;
}
.reaction {
    display: flex;
    align-items: center;
    color: #720846;
}
.icon {
    margin-left: 10px;
    margin-right: 3px;
    color: #720846;
}
